header{
    background-color: #EDCEFC;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF8E7;
}

footer{
    background-color: #532E60;
    padding: 1em 2em;
}